.bottom{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background: #1b91e0;
    opacity: 0.9;
}
.container{
    position: relative;
    bottom: 200px;
    height: 1080px;
    background: #ff6134;
}